.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




button:nth-of-type(1) {
    background-color: #4d4e4d;
    color: white;
}



button:nth-of-type(1):hover {
    background-color: #0a0a0a;
}
